.row{
    max-width: 100%;
}

div{
    padding: 5px;
    position: relative;
    text-align: center;
}

@media (min-width: 992px){
    .col-lg-2{
        flex: 0 0 auto;
        width: 33.33333333%;
 /*       width: 16.66666667%;*/
    }
}

@media (min-width: 1300px){
    .col-lg-2{
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}


