<div class="row">
    <div class="col-xs-5 col-sm-6 col-md-4 col-lg-2 ">
	    <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/html.png'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
      ></circle-progress>
  </div>
    <div class="col-xs-5 col-sm-6 col-md-4 col-lg-2 ">

        <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/css.png'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
        ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/js.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
        ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/github.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
        ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/english.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
        ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../../../assets/hyss/equipo.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#416790e4'"
          [innerStrokeColor]="'#416790e4'"
          [animation]="true"
          [animationDuration]="300"
          [outerStrokeGradient]="true"
          [unitsColor]="'#416790e4'"
          [subtitle]="'85%'"
        ></circle-progress>
    </div>
</div> 