.container{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    border: 3px solid black;
    background-color: #a1b5cb83;
}

div{
    border-radius: 7px;
    
}


#hyss{
    background-color: #416790a9;
    border-bottom: 1px solid black;
}


