<div class="row">
<!--
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photo_perfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
-->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="borderleft">
        <img src="../../../assets/photo_perfil.jpg" class="img-fluid" id="fotoDePerfil">
        <h4 class="subeTexto" id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <h5 class="subeTexto">Full Stack Developer Jr.</h5>
    </div> 

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="acercaDeMi">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias repudiandae obcaecati iusto aperiam nobis id quas totam mollitia dolorem! A, odio facilis natus deleniti perferendis numquam laborum alias maxime necessitatibus.</p>
        </span>
    </div>

</div>
