<div class="container">
    <div class="head">
        <h1>Proyectos</h1>
    </div>
    
    <div class="union">
        <div>
            <h1>Portfolio</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ea debitis dolorem nostrum esse, sed pariatur perspiciatis placeat voluptatibus officia consectetur autem maxime! Ea, totam a voluptates sint deserunt tempora.
            </p>
        </div >
        <div class="centrarImg">
            <img src="../../../assets/proyectos/proyecto1.jpg" >
        </div>

    </div>   
</div>

<!-- Falta terminar de acomodar la imagen cuando la ventana se achica + implementar table -->