<div id="espaciado"></div>

<div class="row">
    <div id="proyectos">
        <h1>Proyectos</h1>
    </div>
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-8 col-lg-8 divtext">
            <h1>Portfolio</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ea debitis dolorem nostrum esse, sed pariatur perspiciatis placeat voluptatibus officia consectetur autem maxime! Ea, totam a voluptates sint deserunt tempora.
            </p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4  divimg">
            <img src="../../../assets/proyectos/proyecto1.jpg" id="img">
        </div>

    </div>   
</div>