.container{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    border: 3px solid black;
    border-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #a1b5cb83;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #416790a9;
    border-bottom: 1px solid black;
    padding-left: 15px;
}

.union{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.centrarImg{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

img{
    max-width: 60%; 
    height: auto;
    padding: 2%;
}

