<div class="row">
    <div id="experiencia">
    <h1>Experiencia laboral</h1>
    </div>

    <div id="detalle">
        <ul>
            <li> <h2>Trabajo 1</h2> - <h3> (years)</h3> </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>

            <li> <h2>Trabajo 2 </h2> - <h3> (years)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>

            <li> <h2>Trabajo 3</h2> - <h3> (years)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>
        </ul>
    </div>
</div>