<div class="row">
    <div id="estudios">
    <h1>Estudios</h1>
    </div>

    <div id="detalle">
        <ul>
            <li> <h2> Primario</h2> - <h3> (years)</h3> </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>

            <li> <h2> Secundario </h2> - <h3> (years)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>

            <li> <h2> Terciario: Técnico Superior en Periodismo Deportivo </h2> - <h3> (years)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>

            <li> <h2> Universitario: Técnico Universitario en Programación (UNSa) </h2> - <h3> (years)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quis mollitia est amet consectetur quidem harum voluptatibus? Assumenda, doloribus tenetur possimus sapiente voluptatem laudantium nemo cum quae quidem corrupti voluptatum.
            </p>
        </ul>
    </div>
</div>